/*
.root {
    -fx-base:#0a0a0a ;
    -fx-background: #0a0a0a;
    -fx-control-inner-background:#c1c1c1;
}

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

.separator-label {
    -fx-text-fill: orange;
}
*/

/*
.dark-blue {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.dark-blue:hover {
   -fx-effect: innershadow(two-pass-box , rgba(255,255,255,0.7) , 20, 0.0 , 0 , 0);
}

   -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}
*/

.root{
    /*
    -cor-base : rgb(0, 64, 128); 
    
    -cor-base : #1b6cd7; 
    
    -cor-base : #307196;
    */
    -cor-base : #19382c;
    -cor-secundaria: #95A5A6;
    -cor-borda-componentes : rgb(100,100,100);
    -fx-accent: -cor-base;
    -paleta1: rgba(91, 192, 235, 1);
    -paleta2: rgba(253, 231, 76, 1);
    -paleta3: rgba(155, 197, 61, 1);
    -paleta4: rgba(229, 89, 52, 1);
    -paleta5: rgba(250, 121, 33, 1);

}

.mainFxmlClass {
    /*
    -fx-background-color: #EAEAEC;
    */
    -fx-background-image: url(../images/fundo4.jpg);
    -fx-background-size: stretch;

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane-radius-down > .viewport {
    -fx-background-radius: 0 0 15 15 ;
    -fx-border-radius: 0 0 15 15;
}

/* ====================== scroll bars ================================== */

.scroll-bar:horizontal ,
.scroll-bar:vertical ,
.scroll-pane .corner {
    -fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button
{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track
{
    -fx-background-color: rgba(200,200,200,0.6);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb
{
    -fx-background-color: -cor-base;
    -fx-background-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}



/* ============================ Labels ============================================== */

.label-titulo {
    -fx-text-fill : -cor-base;
}

.label-impressao {
    -fx-text-fill : black;
}

/* ============================ TITLED PANE ============================================== */

.titled-pane{
    -fx-text-fill: white;
    -fx-border-color: -cor-base;
}

.titled-pane > .title
{
    -fx-background-color: -cor-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}

/* ============================ FRAMES ============================================== */

.frame_titulo {
    -fx-background-color: -cor-base;
    -fx-background-radius: 15 15 0 0;
    -fx-text-fill:white;
}

.frame_rodape{
    -fx-background-color: -cor-base;
    -fx-background-radius: 0 0 15 15;
    -fx-text-fill:white;
}

.frame_menus {
    -fx-background-color:  derive(-cor-base,0%);
    -fx-text-fill: white;
    -fx-background-insets: 5;
}

.frame_transparente {

    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropshadow( three-pass-box , -cor-base , 10, 0.3 , 0 , 0 );

    /*
    -fx-background-color: rgb(255, 255, 255);
    */
}

.frame_quase_transparente {
    -fx-background-color: rgb(255, 255, 255);
}

.frame_dialog {
    -fx-background-color: rgb(255, 255, 255);
}

.frame_dialog_titulo {
    -fx-background-color: -cor-base;
    -fx-background-radius:  10 10 0 0 ;
    -fx-background-insets: -1;
}

.frame_transparente_2 {
    -fx-background-color: rgba(255, 255, 255,0.5);
}

.frame_radius_all {
    -fx-background-radius: 15;
}

.frame_radius_top {
    -fx-background-radius: 0 0 15 15;
}

.frame_radius_down {
    -fx-background-radius: 15 15 0 0;
}

.frame_radius_left {
    -fx-background-radius: 0 15 15 0;
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-width: 1px 1px 1px 0 ;
    -fx-border-radius: 0 15 15 0;
    -fx-border-insets: -1;
}

.frame_radius_rigth {
    -fx-background-radius: 15 0 0 15;
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-width: 1px 0 1px 1px ;
    -fx-border-radius: 15 0 0 15;
    -fx-border-insets: -1;
}

.frame_border_red {
    -fx-border-color: rgb(200, 0, 0);
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-border-insets: 9;
    -fx-background-insets: 10;
    /* -fx-effect: dropshadow( three-pass-box , rgba(200,0,0,0.6) , 10, 0.3 , 0 , 0 ); */
}

.frame_border_yellow {
    -fx-border-color: rgb(255, 200, 0);
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-border-insets: 9;
    -fx-background-insets: 10;
    /* -fx-effect: dropshadow( three-pass-box , rgba(200,200,0,0.6) , 10, 0.3 , 0 , 0 ); */
}

.frame_border_blue {
    -fx-border-color: -cor-base;
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-border-insets: 9;
    -fx-background-insets: 10;
    /* -fx-effect: dropshadow( three-pass-box , rgba(0,0,200,0.6) , 10, 0.3 , 0 , 0 );   */
}

.sombra_red {
    -fx-effect: dropshadow( three-pass-box , rgb(200,0,0) , 10, 0.3 , 0 , 0 );
}

.sombra_yellow {
    -fx-effect: dropshadow( three-pass-box , rgb(200,200,0) , 10, 0.3 , 0 , 0 );
}

.sombra_blue {
    -fx-effect: dropshadow( three-pass-box , rgb(0,64,128) , 10, 0.3 , 0 , 0 );
}

.sombra_blue_hover:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7) , 10, 0.3 , 0 , 0 );
}

.item_selecionado {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: derive(-cor-base,40%);
    -fx-border-color: derive(-cor-base,40%);
    -fx-border-width: 1;    
}
.item_selecionado:hover {
    -fx-background-color:  derive(-cor-base,80%);
    -fx-border-color: derive(-cor-base,80%);
}

.item_nao_selecionado {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-border-color: derive(-cor-base,40%);
    -fx-border-width: 1;    
}

.item_nao_selecionado:hover {
    -fx-border-width: 3;
    -fx-border-insets: -2;
}

.borda_suavizada {
    -fx-border-color: derive( -cor-base,80%);
}


/* ================================== BOTOES ============================================ */


.botao_menu {
    -fx-base : derive(-cor-base,0%);
    -fx-background-color: derive(-cor-base,0%);
    -fx-background-radius: 15;
    -fx-text-fill: white;
}

.botao_menu:default {
    -fx-base: rgb(0, 64, 128);
}

.botao_menu:cancel {
    -fx-base: rgb(150, 50, 50);
}

.botao_menu:hover {
    /*
    -fx-border-color: rgb(0,200, 255);
    -fx-border-width: 1px;
    -fx-border-radius: 15;
    */
    -fx-effect: innershadow(two-pass-box , rgba(255,255,255,0.4) , 20, 0.0 , 0 , 0);
}

.botao_menu:pressed {
    -fx-effect: innershadow(two-pass-box , rgba(255,255,255,0.7) , 20, 0.0 , 0 , 0);
}

.item_menu {
    -fx-background-color:  derive(-cor-base,20%);
    -fx-text-fill: white;
}

.item_menu:hover {
    -fx-background-color:  derive(-cor-base,40%);
}

.item_menu:pressed {
    -fx-background-color:  derive(-cor-base,80%);
}

.item_menu_drag {
    -fx-background-color:  -cor-base;
    -fx-text-fill: white;
}

.item_menu_drag:hover {
    -fx-background-color:  derive(-cor-base,20%);
    -fx-text-fill: white;
}

.item {
    -fx-background-color: derive(-cor-secundaria,80%);
    -fx-text-fill: -cor-base;
}

.item:hover {
    -fx-background-color:  derive(-cor-base,100%);
}

.item:pressed {
    -fx-background-color:  derive(-cor-base,120%);
}

.item_drag {
    -fx-background-color:  derive(-cor-secundaria,40%);
    -fx-text-fill: -cor-base;
}

.item_drag:hover {
    -fx-background-color:  derive(-cor-secundaria,60%);
    -fx-text-fill: -cor-base;
}


/* =============== STYLE ALL TEXT COMPONENTS ================================================= */
.text-field , .password-field , .text-area {
    -fx-text-fill:  black;
    -fx-border-color:  -cor-borda-componentes;
    -fx-border-radius: 1;
    -fx-background-radius: 1;
    -fx-background-color: white;
    -fx-border-width: 1;
}

.text-field:focused , .password-field:focused , .text-area:focused {
    -fx-background-color: white;
    -fx-border-width: 2;
}

/* =============== JFOENIX ================================================= */



.input-line , .input-focused-line {
    -fx-background-color: transparent;
}

.time-picker-display-node , .date-picker-display-node {
    -fx-border-color: transparent;
}

.jfx-time-picker , .jfx-date-picker {
    -jfx-default-color : -cor-base;
}

.jfx-toggle-button, .jfx-toggle-node {

    -jfx-toggle-color : rgb(0,128,255);
    -jfx-untoggle-color:rgb(250,250,250);
    -jfx-toggle-line-color: rgb(119,194,187);
    -jfx-untoggle-line-color: rgb(153,153,153);
}

/* ========================== LISTVIEW ===================================================== */

.list-view , .combo-box-popup .list-view
{
    -fx-background-color: white;
    -fx-border-color: -cor-borda-componentes;
}

.list-view .list-cell , .combo-box-popup .list-view .list-cell
{
    -fx-text-fill:  black;
    /* No alternate highlighting */
    -fx-background-color: white;
}

.list-view .list-cell:filled:selected, .list-view .list-cell:filled:selected:hover ,
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: derive(-cor-base,30%);
    -fx-background-color: derive(-cor-base,30%);
    -fx-text-fill:  white;
    -fx-font-weight: bold;

}

.list-view .list-cell:filled:hover,.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: derive(-cor-base,100%);
    -fx-text-fill:  white;
    -fx-font-weight: bold;

}
/* ============ COMBO BOX ================================================================ */


.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: -cor-base;
}

.combo-box .list-cell
{
    -fx-background-color: transparent;
    -fx-text-fill:  black;
}

.combo-box-base
{
    -fx-text-fill:  black;
    -fx-background-color: white;
    -fx-background-radius: 1;
    -fx-border-color: -cor-borda-componentes;
    -fx-border-radius: 1;
    -fx-border-width: 1;
}


.combo-box-base:focused {
    -fx-text-fill:  black;
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-border-insets: -2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}


/* =========================== CHECK BOX ==================================== */

.check-box {
    -fx-text-fill:  black;

}

.check-box .box {
    -fx-border-color: -cor-borda-componentes;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.check-box:selected .mark {
    -fx-background-insets: 0;
    -fx-background-color: -cor-base;
    /* -fx-color:rgb(45,137,239); */
}

/* ============== RADIO BUTTON =============================================== */

.radio-button {
    -fx-text-fill:  black;
}

.radio-button:selected .radio {
    -fx-background-insets: 0;
}

.radio-button .radio {
    -fx-border-insets: 0;
    -fx-border-radius: 20;
    -fx-border-color: -cor-borda-componentes;
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.radio-button:selected .dot {
    -fx-background-insets: 0;
    -fx-color: rgb(0,200,255);
    -fx-background-color: -cor-base;
}


/* ==================================================== Tab Panel ======== */



.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-font: 20px "Roboto Light";
}

.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0;
    -fx-background-color: derive(-cor-base,20%);
}

.tab:hover {
    -fx-background-color: derive(-cor-base,40%);
}

.tab:selected {
    -fx-background-color: derive(-cor-base,80%);
}

.tab:focused {
    -fx-focus-color: transparent;
}


.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 ;
    -fx-padding: 0.0em ;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}


/* ==================================================== progress bar ======== */

.progress-bar > .bar { 
    -fx-padding: 1px; 
    -fx-background-insets: 1; 
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.progress-bar {
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.progress-bar > .track {
    -fx-border-color: white;
    -fx-border-insets: 0;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: white;

}

.progress-indicator  .percentage {
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
    -fx-fill:  rgb(40,40,40);
}


/* =============== STYLE ALL TABLES ================================================= */


.table-view {
    -fx-background-color: white;
    -fx-border-color : -cor-base;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-alignment: center;
    -cor-tabela-select : white
}

.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -cor-base ;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-background-color: -cor-tabela-select;
    -fx-text-fill : ladder(-cor-tabela-select, white 49%, black 50%);

}


.table-view .table-row-cell:odd {
    -cor-tabela-select: white;
}

.table-view .table-row-cell:even {
    -cor-tabela-select: derive(-cor-base,140%);
}

.table-view .table-row-cell:selected {
    -cor-tabela-select: derive(-cor-base,30%);
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/*

.table-view  .table-row-cell:filled:selected:focused, .table-row-cell:filled:selected:even,.table-row-cell:filled:selected:odd {

}

*/

/* ======================================= TELA PRINCIPAL ===============================================*/

/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/minimize.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-minimize:hover{
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/minimize-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/maximize.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/maximize-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/restore.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/restore-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/close.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/close-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Fullscreen button
*/
.decoration-button-fullscreen{
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/fullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-fullscreen:hover{
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/fullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen{
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/unfullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen:hover{
    -fx-background-color: transparent;
    -fx-background-image:url("/images/decorator/unfullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*       Barrra de titulo
*/
.barra-titulo-normal {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: -cor-base;
}

.barra-titulo-inteira {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -cor-base;
}

.barra-titulo-inteira-left {
    -fx-background-radius: 10 0 0 0;
    -fx-background-color: -cor-base;
}

.barra-titulo-inteira-right {
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: -cor-base;
}

/* =================================== TECLADO ============================================== */

.tecla {
    -fx-background-radius: 15;
    -fx-background-color: white;
}

.tecla:hover {
    -fx-background-color:  derive(-cor-base,130%);

}

.tecla-impressao {
    -fx-background-radius: 15;
    -fx-background-color: white;
}
